.results-title {
  align-items: center;
  background-color: #b3bac1;
  display: flex;
  justify-content: center;
  height: 60px;  
  min-width: 850px;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  z-index: 4;  
}
